@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar,
.posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  position: relative;
}

.options {
  display: none;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.description {
  font-family: $font-header;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }

  li {
    margin: 0 4px 0 4px;
  }

  li a {
    text-decoration: none;
    transition: all 0.05s;
  }

  li a:hover {
    color: white;
    text-shadow: black 1px 1px;
    text-decoration: underline;
    transition: all 0.05s;
  }

  li a:active {
    color: -webkit-link;
    text-decoration: none;
    text-shadow: none;
    font-weight: 800;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Tags */

.tags {
  display: inline;
}

.tag-size-1 {
  font-size: 16px;
  font-weight: 400;
}
.tag-size-2 {
  font-size: 18px;
  font-weight: 500;
}
.tag-size-3 {
  font-size: 20px;
  font-weight: 600;
}
.tag-size-4 {
  font-size: 22px;
  font-weight: 700;
}
.tag-size-5 {
  font-size: 24px;
  font-weight: 800;
}

/* Grades */

.post-givenGrade {
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
  span {
    font-size: 18px;
  }
}

/* Post */

.post {
  opacity: 0;
  transition: all 0.2s;
  z-index: auto;
  position: absolute;

  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-content {
  margin: 10px 25px 10px 15px;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* Footer */

footer {
  background: $color-dark;
  color: $color-light;
  display: flex;
  justify-content: center;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

/* Media quires */

@media (max-width: 768px) {
  footer div {
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin-bottom: 64px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 32px;
  }

  .options .choose {
    margin: 10px;
  }

  .options label {
    font-family: $font-header;
    font-weight: 600;
    font-size: 24px;
  }

  .options select {
    font-family: $font-text;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
  }

  .posts {
    padding-bottom: 400px;
  }

  footer div {
    width: 80%;
  }
}